.container{
 width: 1280px;
 margin: 0 auto;
}
.header{
height: 189px;
width: 1283px;
/*margin-top: 63px;*/
}
.logo-Ra{
font-family: Roboto;
font-size: 80px;
font-weight: 400;
line-height: 94px;
letter-spacing: 0px;
text-align: center;
color: rgba(0,0,0,1);    
}
.logo-mda{
font-family: Roboto;
font-size: 80px;
line-height: 94px;
letter-spacing: 0px;
text-align: center;
color: rgba(75,202,255,1);
}       
.header-menu{
display:flex;
justify-content: center;
align-items: center;
background: rgba(53, 68, 79, 1);
height: 69px;
width: 1280px;
margin-top: 40px;
}
.header-menu-item{
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
color: rgba(255,255,255,1); 
}
.one{
height: 27px;
width: 266px;
left: 194px;
top: 143px;
margin-left: 32px; 
margin-right: 36px; 
margin-top: 24px;
margin-bottom: 18px;
}
.two{
height: 27px;
width: 77px;
left: 530px;
top: 143px;
margin-left: 38px; 
margin-right: 37px; 
margin-top: 24px;
margin-bottom: 18px;
}
.three{
height: 27px;
width: 204px;
left: 685px;
top: 143px;
margin-left: 40px; 
margin-right: 40px; 
margin-top: 24px;
margin-bottom: 18px; 
}
.four{
height: 27px;
width: 163px;
left: 969px;
top: 143px;
margin-left: 40px; 
margin-right: 18px; 
margin-top: 24px;
margin-bottom: 18px;
}
.header-menu-item{
border-left: 1px solid rgba(255, 255, 255, 1);
border-right: 1px solid  rgba(255, 255, 255, 1);
}
.header-menu-item:hover{
background: rgba(34, 47, 58, 1);
width:max-content;
}
.left-menue{
height: 399px;
width: 344px;
}
.child{
display:flex;
flex-direction: column;
height: 399px;
width: 344px;
border:1px solid rgba(0,0,0,1);
font-family: Roboto;
font-size: 27px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0px;
text-align: left;
color: rgba(72, 88, 99, 1);
}

.first-child{
height: 27px;
width:100%;
top: 26px;
padding-left:44px;
padding-right:194px;
padding-top: 26px;
padding-bottom: 52px;
}
.first-child:hover{
background: rgba(219, 219, 219, 1);
width:100%; 
color: rgba(0,0,0,1);
text-align: right;  
}
.second-child{
height: 27px;
width:100%;
top: 105px;
padding-top: 27px;
padding-bottom: 52px;
padding-left: 38px;
padding-right: 130px;
}
.second-child:hover{
background: rgba(219, 219, 219, 1);
width:100%; 
color: rgba(0,0,0,1);  
text-align: right;  
}
.third-child{
height: 27px; 
width:100%;
top: 184px;
padding-top: 25px;
padding-bottom:52px;
padding-left: 42px;
padding-right: 82px;       
}
.third-child:hover{
background: rgba(219, 219, 219, 1);
width:100%; 
color: rgba(0,0,0,1); 
text-align: right;  
}
.fourth-child{
height: 27px;
width:100%;
top: 263px;
padding-top: 25px;
padding-bottom:52px;
padding-left: 44px;
padding-right: 121px;  
}
.fourth-child:hover{
background: rgba(219, 219, 219, 1);
width:100%; 
color: rgba(0,0,0,1);
text-align: right;  
}
.fifth-child{
height: 27px;
width:100%;
top: 342px;
padding-top: 25px;
padding-bottom:60px;
padding-left: 44px;
padding-right: 147px;      
}
.fifth-child:hover{
background: rgba(219, 219, 219, 1);
width:100%; 
color: rgba(0,0,0,1); 
text-align: right;  
}
.container-content{
display:flex;
flex-direction: row;
flex-wrap: wrap;
margin-top: 52px;
}
.picture{
padding-top: 75px;
padding-bottom: 73px;
padding-left: 297px;
padding-right: 268px;
border:1px solid rgba(0,0,0,1);
background-color: rgba(1, 1, 1, 0);
height: 529px;
width: 885px;
margin-left: 50px;
margin-right: 1px;
}
.box-2{
height: 120px;
width: 885px;
margin-top: 37px;
margin-bottom: 37px;
margin-left: 396px;
margin-right: 1px;
font-family: Roboto;
font-size: 18px;
line-height: 24px;
color: rgba(44, 44, 44, 1);
}
.box-3{
height: 109px;
width: 885px;
margin-bottom: 54px;
margin-left: 396px;
margin-right: 1px;
font-family: Roboto;
line-height: 24px;
font-size: 18px;
color: rgba(44, 44, 44, 1);
}
.footer{  
display:flex;  
justify-content: center;
background: rgba(99, 105, 110, 0.48);
height: 69px;
width: 1280px;
margin-bottom: 30px;
}
.bottom-menu{
display:flex;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap; 
height: 69px;
width: 875px;  
margin-right: 135px;        
}
.bottom{
font-family: Roboto;
font-size: 28px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
color: rgba(12,25,39,1);
}
.bottom:hover{
width:100%; 
color: rgba(49, 129, 166, 1); 
text-decoration: underline;  
width:max-content;
}
.last-bottom{
width: 190px;
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: end;
margin-right: 40px;
padding-top: 20px;
}